@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

    <link href="~/css/style.css" rel="stylesheet" type="text/css" />

    <img class="errorImg" src="~/cowboy-cafe-images/BuckingBronco.png" alt="Error Image" />
<h2 class="ErrorText"> Whoops partner, you just got bucked off by an Error!</h2>