@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
<div class="text-center">
    <h1 class="display-4">Welcome to the Cowboy Cafe Website</h1>
    <p>We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.</p>
</div>

<ul>
    <li>
        <h2>Entrees:</h2>
    <div class="menu-item">
        <h3>Angry Chicken</h3>
        <p id="Price">Price: 5.99$</p>
        <p id="Calories">Calories: 190</p>
    </div>
    <div class="menu-item">
        <h3>Cowpoke Chili</h3>
        <p id="Price">Price: 6.10$</p>
        <p id="Calories">Calories: 171</p>
    </div>
    <div class="menu-item">
        <h3>Dakota Double Burger</h3>
        <p id="Price">Price: 5.20$</p>
        <p id="Calories">Calories: 464</p>
    </div>
    <div class="menu-item">
        <h3>Pecos Pulled Pork</h3>
        <p id="Price">Price: 5.88$</p>
        <p id="Calories">Calories: 528</p>
    </div>
    <div class="menu-item">
        <h3>Rustler's Ribs</h3>
        <p id="Price">Price: 7.50$</p>
        <p id="Calories">Calories: 894</p>
    </div>
    <div class="menu-item">
        <h3>Texas Triple Burger</h3>
        <p id="Price">Price: 6.45$</p>
        <p id="Calories">Calories: 698</p>
    </div>
    <div class="menu-item">
        <h3>Trail Burger</h3>
        <p id="Price">Price: 4.50$</p>
        <p id="Calories">Calories: 288</p>
    </div>
    </li>


    <li>
        <h2>Sides:</h2>
        <div class="menu-item">
            <h3>Baked Beans</h3>
            <p id="Price">Prices:</p><p>Small: 1.59$ | Medium: 1.79$ | Large: 1.99$</p>
            <p id="Calories">Calories:</p><p>Small: 312 | Medium: 378 | Large: 410</p>
        </div>
        <div class="menu-item">
            <h3>Chili Cheese Fries</h3>
            <p id="Price">Prices:</p><p>Small: 1.99$ | Medium: 2.99$ | Large: 3.99$</p>
            <p id="Calories">Calories:</p><p>Small: 433 | Medium: 524 | Large: 610</p>
        </div>
        <div class="menu-item">
            <h3>Corn Dodgers</h3>
            <p id="Price">Prices:</p><p>Small: 1.59$ | Medium: 1.79$ | Large: 1.99$</p>
            <p id="Calories">Calories:</p><p>Small: 512 | Medium: 685 | Large: 717</p>
        </div>
        <div class="menu-item">
            <h3>Pan De Campo</h3>
            <p id="Price">Prices:</p><p>Small: 1.59$ | Medium: 1.79$ | Large: 1.99$</p>
            <p id="Calories">Calories:</p><p>Small: 227 | Medium: 269 | Large: 367</p>
        </div>
    </li>


    <li>
        <h2>Drinks:</h2>
        <div class="menu-item">
            <h3>Cowboy Coffee</h3>
            <p id="Price">Prices:</p><p>Small: 0.60$ | Medium: 1.10$ | Large: 1.60$</p>
            <p id="Calories">Calories:</p><p>Small: 3 | Medium: 5 | Large: 7</p>
        </div>
        <div class="menu-item">
            <h3>Jerked Soda</h3>
            <p id="Price">Prices:</p><p>Small: 1.50$ | Medium: 2.10$ | Large: 2.59$</p>
            <p id="Calories">Calories:</p><p>Small: 110 | Medium: 146 | Large: 198</p>
        </div>
        <div class="menu-item">
            <h3>Cowboy Coffee</h3>
            <p id="Price">Prices:</p><p>Small: 1.00$ | Medium: 1.50$ | Large: 2.00$</p>
            <p id="Calories">Calories:</p><p>Small: 5 | Medium: 11 | Large: 18</p>
            <p>(Double Calories if Sweetened)</p>
        </div>
        <div class="menu-item">
            <h3>Water</h3>
            <p id="Price">Price: 0.12$</p>
            <p id="Calories">Calories: 0</p>
        </div>
    </li>
</ul>
